button {
  margin-top: 10px;
}
input {
 margin-top: 5px;
}

label {
  margin-top: 5px;
}

.col-sm-3 {
  margin-left: 20px;
}

a {
  font-size: 1em;
}

.glyphicon {
  color: #ffcc66;
}

.btn-default {
  border: 1px solid #999999;
  color: #555555;
}

.btn-default:hover {
  border: 1px solid #ffb366;
  background-color: #fff2e6;
}
